@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #ffffff;
  background: #000000;
  font-family: Verdana, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --red-200: rgb(254 202 202);
    --blue-200: rgb(191 219 254);
    --green-200: rgb(187 247 208);
    --yellow-100: rgb(254 249 195);
    --purple-200: rgb(233 213 255);
    --pink-200: rgb(251 207 232);
    --orange-200: rgb(254 215 170);
    --teal-200: rgb(153 246 228);
    --indigo-200: rgb(199 210 254);
    --rose-200: rgb(254 205 211);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

.hover-text-custom:hover {
  color: var(--hover-color);
}

.hover-border-custom:hover {
  border-color: var(--hover-color);
}
