@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #545454;
  background: #fff8dc;
  font-family: Verdana, Helvetica, sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
