@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #000000;
  background: #ffffff;
  font-family: var(--font-jost);
}

@layer base {
  :root {
    --radius: 0.5rem;
    --red-600: rgb(220 38 38);
    --blue-600: rgb(37 99 235);
    --green-600: rgb(22 163 74);
    --yellow-500: rgb(234 179 8);
    --purple-600: rgb(147 51 234);
    --pink-600: rgb(219 39 119);
    --orange-500: rgb(249 115 22);
    --teal-600: rgb(13 148 136);
    --indigo-600: rgb(79 70 229);
    --rose-600: rgb(225 29 72);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

.hover-text-custom:hover {
  color: var(--hover-color);
}

.hover-border-custom:hover {
  border-color: var(--hover-color);
}
